/* Variables */

/* Colors */
$blue: #00c6d8;
$dark-blue: #00909d;
$teal: #00d8b4;
$dark-teal: #00b193;
$lime: #27ff5d;
$dark-black: #090909;
$light-black: #131313;
$blue-gray: #343d45;
$yellow: #ffd000;
$red: #ff2b2b;

// Shadows
$shadow: rgba(0, 0, 0, 0.25);
$light-shadow: rgba(0, 0, 0, 0.15);

/* Font */
$sm-fs: 0.9rem;
$md-fs: 1.5rem;
$lg-fs: 2rem;
$font: "Oswald", sans-serif;
$playball: "Playball", cursive;

/* Spacers */
$spacer-small: 1rem;
$spacer: $spacer-small * 1.5;
$spacer-md: $spacer * 2;
$spacer-lg: $spacer-md * 2;
$padding: 7.5%;
